In [1]:
from bs4 import BeautifulSoup
import requests 
import pandas as pd

In [8]:
url = 'https://results.golfstat.com/public/leaderboards/gsnav.cfm?pg=stats&tid=2875&statsType=c'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html')
table = soup.find_all('div')

In [36]:
body_tag = soup.body

In [78]:
#by round by hole idx = 1018

#859
#898
#937
#976 gap:39
chart = []
for idx,child in enumerate(body_tag.descendants):
    #print('-----------')
    #print('idx:',idx)
    #print(child)
    #print('------------')
    rows = list(range(313,977,39))
    #print(rows)
    if idx in rows:
        chart.append(child.text)

In [80]:

df = pd.DataFrame(columns= ['hole', 'rank', 'par', 'yard', 'average', 'dif', 'eagle', 'birdie', 'par',
                            'bogie', 'dbl_bogie', 'other'])

for row in chart:

    df.loc[len(df)] = row.split('\n')[1:13]

In [81]:
df

   hole rank par yard average    dif eagle birdie par bogie dbl_bogie other
0    16    1   3  187    3.64  +0.64     0      6  58    50        20     1
1    18    2   4  438    4.54  +0.54     0     13  67    37         8    10
2     7    3   4  468    4.35  +0.35     0      6  82    42         4     1
3     1    4   4  435    4.28  +0.28     0     10  81    41         2     1
4     3    5   3  177    3.24  +0.24     0     12  84    35         2     2
5     4    6   4  402    4.17  +0.17     0     17  83    30         5     0
6     6    7   3  210    3.17  +0.17     0     12  91    30         1     1
7     5    8   4  340    4.13  +0.13     1     15  89    26         4     0
8    15    9   4  445    4.13  +0.13     0     15  92    25         2     1
9    10   10   4  434    4.10  +0.10     0     19  90    20         5     1
10    2   11   5  563    5.05  +0.05     0     20  92    19         4     0
11   11   12   3  152    3.04  +0.04     0     22  87    24         2     0
12   13   13   4  352    4.03  +0.03     0     25  87    18         4     1
13    9   14   5  515    4.99  -0.01     0     37  67    26         5     0
14   14   15   4  345    3.93  -0.07     0     37  72    24         2     0
15    8   16   4  358    3.91  -0.09     0     38  71    26         0     0
16   12   17   5  520    4.90  -0.10     3     35  73    21         3     0
17   17   18   5  517    4.90  -0.10     0     43  71    15         4     2